<div style="padding: 3rem;">
    <!-- <app-table></app-table>
    <!-- <app-button-label title="Orders" label="1235" icon="description"></app-button-label> -->
    <!-- <app-button-label title="Revenue" label="35723" icon="archive" [isCurrency]="true"></app-button-label>
    <app-button-label title="Average Price" label="16.2" icon="sell" [isCurrency]="true"></app-button-label> -->
    <app-activity></app-activity>
    <!-- <app-top-cities></app-top-cities> -->
    <!-- <app-social-sales></app-social-sales> -->
    <!-- <app-month-earning></app-month-earning> -->
</div>