<mat-card>
    <label class="title">Activity</label>
    <mat-stepper  orientation="vertical" linear="false">

        <mat-step *ngFor="let activity of activities;" label={{activity.date}} >
            <p>{{activity.description}}</p>
        </mat-step>
        <!-- <mat-step label="First step" >
        </mat-step>
        <mat-step label="First step">
        </mat-step> -->
        <ng-template matStepperIcon="edit">
            <mat-icon>arrow_forward</mat-icon>
          </ng-template>
          
    </mat-stepper>
    <div class="div-button">
        <button mat-raised-button color="primary">
            View More
            <mat-icon>arrow_right_alt</mat-icon>
        </button>
    </div>
</mat-card>
