<mat-card>
    <label class="title">Activity</label>
    <mat-stepper  orientation="vertical" linear="false">

        <mat-step *ngFor="let activity of activities;" [label]="getDatePipe(activity.date)" >
            <p>{{activity.description}}</p>
        </mat-step>
        <ng-template matStepperIcon="edit">
            <mat-icon>arrow_forward</mat-icon>
          </ng-template>
          
    </mat-stepper>
    <div class="div-button">
        <app-view-button text="View More" ></app-view-button>
    </div>
</mat-card>
