.div-top-social {
    display: flex;
    margin: 1rem 0 1rem 0 !important;
    align-items: center;
    flex-direction: column;
}

.social-sales {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem 0 !important;
    justify-content: space-around;
}

.text-desc {
    color: grey;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 2rem 0 2rem;
}

.icon {
    font-size: 35px;
    height: 35px;
    width: 35px;
    margin-bottom: 1rem;
}

.min-icon {
    position: relative;
    font-size: 35px !important;
    width: 35px !important;
    height: 35px !important;
    margin-bottom: 1rem;
}

.min-icon span {
    position: absolute;
    bottom: 10.5px;
    right: 9.5px;
}

@media (min-width: 500px) {
    .icon {
        font-size: 60px;
        height: 60px;
        width: 60px;
        margin-bottom: 1rem;
    }
}

.inline-icon {
    position: relative;
    top: 12px;
    right: 3px;
    font-size: medium;
}

.instagram {
    content: url('https://api.iconify.design/akar-icons/instagram-fill.svg?color=white');
}

.twitter {
    content: url('https://api.iconify.design/akar-icons/twitter-fill.svg?color=white');
}

.facebook {
    content: url('https://api.iconify.design/akar-icons/facebook-fill.svg?color=white');
}