<mat-card>
    <label class="title">Social Source</label>
     <div class="div-top-social">
        <mat-icon style="color: blue;" class="icon">{{socialSources[0].social.toLowerCase()}}</mat-icon>
        <div style="display: inline !important;">
            <label style="font-size: 1.1rem;margin-bottom: 0.2rem;"><b>{{socialSources[0].social}}</b> - {{socialSources[0].sales}} sales</label>
            <label class="subtitle"></label>
        </div>
    </div>
    <div class="text-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <a style="color: royalblue; cursor: pointer;width: fit-content;" >
            Learn more
            <mat-icon class="inline-icon">chevron_right</mat-icon>
        </a>
    </div>
        <div class="social-sales">
            <div class="div-top-social" *ngFor="let social of socialSources" >
                <button [ngStyle]="getMinSocialStyle(social.social)" class="min-icon" style="cursor: auto;" mat-fab>
                    <span class="{{social.social.toLowerCase()}}"></span>
                </button>
                <label style="font-size: 1.1rem;margin-bottom: 0.2rem;">{{social.social}}</label>
                <label class="subtitle">{{social.sales}} sales</label>
            </div>
        </div>
</mat-card>

