.container {
    position: relative;
    height: 87vh;
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    max-width: 177px;
    //move the width and height half
    margin: -7.5px 0 0 -84.5px;
}
.div-button {
    position: relative;
} 
.button {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -35px;
} 
.error-message {
    color: red;
    margin-top: -0.50rem;
    margin-bottom: 1rem;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: -1rem;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }