<mat-card>
  <label class="title">Latest Transactions</label>
  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
        <mat-cell *matCellDef="let element">
          #{{ element.orderId }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="billingName">
        <mat-header-cell *matHeaderCellDef>Billing Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.billingName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.date | date: "dd MMM, yyyy" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.total | currency }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="paymentStatus">
        <mat-header-cell *matHeaderCellDef>Payment Status</mat-header-cell>
        <mat-cell *matCellDef="let element" class="paymentStatus">
          <mat-chip-list>
            <mat-chip
              [color]="getPaymentColor(element.paymentStatus)"
              selected
              >{{ element.paymentStatus }}</mat-chip
            >
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="paymentMethod">
        <mat-header-cell *matHeaderCellDef>Payment Method</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container>
            <mat-icon
              aria-hidden="false"
              aria-label="Credit Card"
              fontIcon="credit_card"
            ></mat-icon>
            <label class="paymentMethod">{{ element.paymentMethod }}</label>
          </ng-container>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary">View Details</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
